/* #region Small Mobile First CSS (Portrait by default) */

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-menu {
  background-color: rgba(141, 141, 141, 0.3); /* 30% opacity */
}

.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--dark-color);
  font-size: var(--font-size-l);
  font: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.nav-item,
.language-dropdown {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
}

.navbar i {
  font-size: var(--font-size-l);
}

.navbar #menu-close-button {
  position: absolute;
  right: 30px;
  top: 30px;
}

.navbar #menu-close-button {
  position: absolute;
  right: 30px;
  top: 30px;
}

.navbar #menu-open-button {
  color: var(--white-color);
}

.navbar .nav-menu .nav-link:hover {
  cursor: pointer;
  color: var(--green-color);
}

/* Dropdown Menu */
.language-dropdown {
  position: relative;
  display: inline-block;
  width: auto; /* Ensure the width is based on the content */
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Show Dropdown on Hover */
.language-dropdown:hover .language-dropdown-content {
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(141, 141, 141, 0.8); /* 80% opacity */
  min-width: 100px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

/* Dropdown Items */
.language-dropdown-content li {
  list-style: none;
}

.language-dropdown-content a {
  display: block;
  padding: 10px;
  color: black;
}

.language-dropdown-content li a {
  display: block;
  padding: 10px;
  color: black;
  text-align: center;
  transition: 0.3s;
}

/* Hover Effect on Dropdown Items */
.language-dropdown-content li a:hover {
  background-color: var(--green-color);
}

/* Show Dropdown on Hover */
.language-dropdown:hover .language-dropdown-content {
  display: block;
}

/* #endregion */

/* #region Scoped CSS TO Small Mobile Only */
@media (max-width: 768px) {
  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -70vw;
    top: 0;

    height: 100%;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    padding-top: 30%;
    gap: 2%;

    background: var(--white-color);
    transition: left 0.2s ease;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0vw;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  /* if element in Portrait mode broken */
  .navbar .nav-menu {
    padding-top: 5%;
    gap: 2%;
  }
}
/* #endregion */

/* #region Size For Tablet And Desktop */
@media (min-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar .nav-menu {
    width: 90%; /* Adjusts based on screen width */
    max-width: 1450px; 
    height: 10vh; /* Adjusts based on screen height */
    min-height: 60px; /* Ensures a minimum height */
    background-color: rgba(60,60,60);
    border-radius: 0px 0px 30px 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centers the menu */
    gap: 5vw; /* Adjusts spacing based on screen width */
    padding: 0 2vw; /* Responsive padding */
    transition:  0.3s ease;
  }

  .navbar .nav-menu.hide {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .language-dropdown-content li a {
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    transition: 0.3s;
  }

  .navbar .nav-menu .nav-link {
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
  }

  .navbar i {
    display: none;
  }

  /* Dropdown Menu */
  .language-dropdown {
    color: var(--white-color);
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  /* if element in Portrait mode broken */
}

/* #endregion */
