/* Small mobile First CSS */
.menu-section .menu-list {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.menu-section {
  padding: 4% 0 5% 0;
  color: var(--white-color);
  background: var(--dark-color);
}

.menu-section .menu-list .menu-item .menu-image {
  max-width: 60%;
  aspect-ratio: 1;
  margin-bottom: 2%;
  object-fit: contain;
}

.menu-section .menu-list .menu-item .name {
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .text {
  font-size: var(--font-size-m);
}

/* Scoped CSS TO Small Mobile Only */
@media (max-width: 768px) {
  
}

/* Normal Size Mobile and Tablet */
@media (min-width: 768px) {
  .menu-section .menu-list .menu-item {
    padding-top: 5%;
    width: calc(100% / 2 - 30px);
  }
}

/* PC */
@media (min-width: 1024px) {
  .menu-section .menu-list .menu-item .menu-image {
    max-width: 80%;
  }

  .menu-section .menu-list {
    justify-content: space-between;
  }

  .menu-section .menu-list .menu-item {
    padding-top: 5%;
    width: calc(100% / 3 - 60px);
    flex-direction: column;
    justify-content: space-between;
  }
}
