@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/* Small mobile First CSS */
.about-section {
  padding: 5vh 0px;
  background: var(--light-pink-color);
}

.about-section .section-content {
  display: flex;
  align-items: center;
}

.about-section .about-image-warper .about-image {
  width: 100%;
  max-width: 400px;
  height: 50%;
  max-height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
  aspect-ratio: 1;
}

.about-section .about-details .section-title {
  padding: 0;
}

.about-section .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}

.about-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.about-section .social-link-list .social-link {
  color: var(--primary-color);
  font-size: var(--font-size-l);
  transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
  color: var(--secondary-color);
}

/* Scoped CSS TO Small Mobile Only */
@media (max-width: 768px) {
  .about-section .section-content {
    gap: 8vw;
    flex-direction: column;
  }
    
}

/* Normal Size Mobile and Tablet */
@media (min-width: 768px) {
    .about-section .section-content {
        justify-content: space-between;
        gap: 3%;
      }
    
      .about-section .about-details {
        max-width: 50%;
      }
}

/* PC */
@media (min-width: 1024px) {

  .about-section .section-content {
    justify-content: space-between;
    gap: 3%;
  }

  .about-section .about-details {
    max-width: 50%;
  }
}
